@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  top: 0;
  background-color: white;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
nav ul {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
nav ul li {
  list-style: none;
  font-weight: lighter;
  font-size: 0.8rem;
}

.nav1 {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
}
.nav1 img {
  width: 2rem;
  height: auto;
}

.nav-icons {
  margin-right: 2rem;
  margin-top: 0.4rem;
}

.nav-none {
  display: none;
}

.HeadPhones-Slider {
  background-color: #F1F1F1;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: auto;
  scrollbar-color: rgb(0, 0, 0) rgb(193, 193, 193);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
.HeadPhones-Slider .card-Slider {
  width: 250px;
  height: 200px;
  margin: 0 1rem;
}
.HeadPhones-Slider .card-Slider img {
  width: 250px;
  height: 140px;
  margin: 0;
}
.HeadPhones-Slider .card-Slider .card-name {
  background-color: white;
  width: 250px;
  height: 60px;
  margin-top: -6px;
  display: flex;
  align-items: center;
  transition-duration: 200ms;
}
.HeadPhones-Slider .card-Slider .card-name p {
  padding: 0.5rem;
}
.HeadPhones-Slider .card-Slider .card-name:hover {
  background-color: black;
  color: white;
}

.article2 {
  width: 95vw;
  margin-left: 1%;
  margin-top: 3%;
  color: #6d6d6d;
  display: grid;
  grid-template-columns: 8fr 1fr;
}
.article2 span {
  text-align: right;
}

.article2-title {
  display: flex;
  flex-direction: column;
}
.article2-title h2 {
  margin: 0;
  font-weight: 500;
  color: black;
}
.article2-title p {
  width: 75%;
}

.article3-conts-article {
  width: 93vw;
  margin-left: 2%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-headphone img {
  width: 95%;
}
.card-headphone .text-info {
  width: 85%;
}
.card-headphone .text-info h3 {
  margin: 0.2rem 0;
}
.card-headphone .text-info h4 {
  margin: 0.2rem 0;
  font-weight: 100;
}
.card-headphone .text-info p {
  margin: 0.2rem 0;
  color: grey;
}

.article4 {
  width: 92vw;
  margin-left: 2%;
  margin-top: 5%;
}
.article4 h3 {
  font-weight: lighter;
  font-size: 1.5rem;
}

table {
  width: 80%;
  margin-left: 10%;
}
table td {
  text-align: center;
  width: 1%;
  color: grey;
}
table th {
  text-align: left;
  font-weight: lighter;
}
table tr {
  height: 2.2rem;
}

.table-img-headphones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table-img-headphones img {
  max-width: 95%;
}

.table-mobile {
  display: none;
}

.linea {
  border-top: 1px solid lightgrey;
}

@media screen and (max-width: 875px) {
  .nav1 {
    display: none;
  }
  .nav-icons {
    display: none;
  }
  .nav-none {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 1rem;
  }
  .nav-none img {
    width: 2rem;
  }
  nav {
    height: 3rem;
  }
  .article2 {
    grid-template-columns: 1fr;
  }
  .article3-conts-article {
    grid-template-columns: 1fr 1fr;
  }
  .table-pc {
    display: none;
  }
  .table-mobile {
    display: table-row;
  }
  table th {
    text-align: center;
  }
}
@media screen and (max-width: 790px) {
  .article2 span {
    text-align: left;
  }
  .article3-conts-article {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 697px) {
  .HeadPhones-Slider {
    height: 100px;
  }
  .HeadPhones-Slider .card-Slider {
    height: 60px;
  }
  .HeadPhones-Slider .card-Slider img {
    display: none;
  }
  .article3-conts-article {
    grid-template-columns: 1fr;
  }
  .card-headphone .text-info h3 {
    margin: 0.2rem 0;
  }
  .card-headphone .text-info h4 {
    margin: 0.2rem 0;
    font-weight: 100;
  }
  .card-headphone .text-info p {
    margin: 0.2rem 0;
    color: grey;
  }
}
@media screen and (max-width: 370px) {
  table {
    margin-left: 0;
  }
}